<nav class="navbar navbar-expand navbar-dark bg-dark py-3">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    
    <a class="navbar-brand fw-bold fs-4" href="/">Attendance App</a>

<% if (user && user.role === 'admin') { %>
    <div class="navbar-nav d-flex flex-row gap-3">
      <a class="nav-link" href="/dashboard">Home</a>
      <a class="nav-link" href="/classes">Classes</a>
      <a class="nav-link" href="/attendance">Attendance Record</a>
      <a class="nav-link" href="/edit-attendance">Edit Attendance</a>
      <form action="/search" method="GET" class="d-flex" style="max-width: 250px;">
        <input class="form-control me-2" type="search" name="query" placeholder="Search student name..." aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Search</button>
      </form>
    </div>
<% } else if (user && user.role === 'teacher') { %>
    <div class="navbar-nav d-flex flex-row gap-3">
      <a class="nav-link" href="/dashboard">Home</a>
      <a class="nav-link" href="/classes">Classes</a>
      <a class="nav-link" href="/attendance">Attendance Record</a>
        <form action="/search" method="GET" class="d-flex" style="max-width: 250px;">
            <input class="form-control me-2" type="search" name="query" placeholder="Search student name..." aria-label="Search">
            <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
    </div>

<% } %>
</nav>